<div class="container">
  <div class="controls-container">

    <div>
      <button class="fill-button" (click)="startRace()">Race</button>
      <button class="fill-button" (click)="resetRace()">Reset</button>
    </div>

    <div>
      <div>
        <form #creteForm="ngForm" (ngSubmit)="onSubmit(creteForm)">
          <input type="text" name="creteName" [(ngModel)]="creteCarData.name" required>
          <input type="color" name="creteColor" [(ngModel)]="creteCarData.color" class="pick-color">
          <button type="submit" class="fill-button">Crete</button>
        </form>
      </div>
      <div>
        <form>
          <input type="text" name="" data-update="name" required>
          <input type="hidden" name="" data-update-id="">
          <input type="color" class="pick-color" data-update="color">
          <button type="button" class="fill-button" data-button="control update">Update</button>
        </form>
      </div>
    </div>

    <div>
      <button class="fill-button" (click)="generateCars()">Generate Cars Set</button>
    </div>

    <div>
      <div class="cars-count">Garage ( {{cars.length}} cars )</div>
      <div class="cars-count" style="text-align: center; margin-top: 0.5rem ">
        <button type="button" (click)="prevPage()" [disabled]="pagination.currentPage==1">{{pagination.firstPage}}
          &lt;
        </button>
        <button type="button" disabled
          style="width: 1rem; margin: 0 0.3rem; padding: 2px 20px 2px 14px ;  text-align: left; font-weight: 800; background-color: lightgreen; border: none;">
          {{pagination.currentPage}} </button>
        <button type="button" (click)="nextPage()" [disabled]="pagination.currentPage === pagination.lastPage">&gt;
          {{pagination.lastPage}} </button>
      </div>
    </div>

  </div>

  <div class="tracks-container">

    @for (car of cars | slice: pagination.start : pagination.end; track car.id) {
    <app-track [car]="car" [trackSize]="trackSize">
      <app-car [car]="car" [trackSize]="trackSize" />
    </app-track>
    } @empty {
    <li>There are no items.</li>
    }

  </div>
</div>